#cabecera{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

#bloque1{
background-image: url("series.jpg");
background-size: 30cm;
height: 17cm;
border-bottom: 6px solid gray;


}
#netflix{
margin-top: 0.5cm;
margin-left: 1cm;
}
#inicio{
color: white;
background-color: red;
width: 8%;
text-align: center;
margin-right: 1cm;
border-radius: 10px;
padding: 2mm;

}

#inicio p{
margin: 0%;
}
#textocentral h1{
color: white;
display: flex;
justify-content: center;

}
#textocentral h4{
    color: white;
    display: flex;
    justify-content: center;
    
    
    }
#textocentral{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 136%;
    padding: 4cm 11cm;


}
#probar{
    color: white;
    background-color: red;
    width: 45%;
    text-align: center;
    padding: 3mm 0;
    display: flex;
    justify-content: center;
 

}
#probar p{
    margin: 0%;
    }

#bloque2{
    background-color: black;
    background-size: 30cm;
    height: 17cm;
    border-bottom: 6px solid gray;
    
    
    } 
#textolateral-izq h1{
    color: white;
    display: flex;
    justify-content: left

    }
#textolateral-izq h4{
    color: white;
    display: flex;
    justify-content: left;    
        
        
        }
#textolateral-izq{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 136%;
    padding: 4cm 11cm;
}